# ignore the actual compilers
compilers/gcc-[0-9]*/
compilers/clang-[0-9]*/
compilers/failed*
compilers/tars/
compilers/test.c

# ignore compiled helpers
helpers/diffdate

# don't re-distribute syzkaller code
tools/syz-env

# ignore the compiled images
image/wheezy/ssh/
image/wheezy/wheezy/
image/wheezy/wheezy.img
image/stretch/chroot/
image/stretch/stretch.img
image/stretch/stretch.id_rsa
image/stretch/stretch.id_rsa.pub

# ignore some odd files
interesting_results/
old_logs/
results/

# ignore the data files in parse
parse/debug.txt
parse/bugs*.csv

# ignore some stuff in the templates directory
redo/

# ignore working directories
wd-inspector-[0-9]*/

# ignore files from C++ impl
.vscode/
syzInspector
