# ignore the actual compilers
compilers/gcc-*
compilers/clang-*
compilers/llvm-*
compilers/compilers.tar.gz

# ignore compiled files
build/
bin/

# execs in tools
tools/*.txt
tools/*.log

# ignore the compiled images
image/wheezy/ssh/
image/wheezy/wheezy/
image/wheezy/wheezy.img
image/stretch/chroot/
image/stretch/stretch.img
image/stretch/stretch.id_rsa
image/stretch/stretch.id_rsa.pub

# ignore the data files in parse
parse/*.csv
parse/*.txt

# ignore working directories
wd-bisector-[0-9]*/
wd-meerkat-[0-9]*/

# ignore local-only files
parameters/config.cfg

# Syzkaller
syzkaller/.git
syzkaller/.gitignore
syzkaller/bin/
syzkaller/.descriptions
syzkaller/sys/register.go
syzkaller/executor/defs.h
syzkaller/executor/syscalls.h
syzkaller/.coverage.txt
syzkaller/sys/gen/*

# ignore files from C++ impl
.vscode/
