# ignore the actual compilers
compilers/gcc-[0-9]*/
compilers/tars/

# ignore the compiled helpers
helpers/decdate
helpers/diffdate
helpers/dpd
helpers/dtos
helpers/findmaxtime
helpers/incdate
helpers/ntod
helpers/psf

# ignore the compiled images
image/wheezy/ssh/
image/wheezy/wheezy/
image/wheezy/wheezy.img
image/stretch/chroot/
image/stretch/stretch.img
image/stretch/stretch.id_rsa
image/stretch/stretch.id_rsa.pub

# ignore some odd files
interesting_results/
oldlog/

# ignore the data files in parse
parse/*Versions.csv
parse/debug.txt
parse/bugs.csv
parse/findage.csv
parse/sMutFlags.csv

# ignore some stuff in the templates directory
template/consts/
template/full/
template/prelim_templates/
template/testparse
template/tparse
template/redo/

# ignore working directories
wd-inspector-[0-9]*/
