# Create the file config.cfg with these variables in it
bisectdir=/absolute/path/to/meerkat/
compilers=/absolute/path/to/meerkat/compilers/
image=/absolute/path/to/image.img
imagekey=/absolute/path/to/image.id_rsa
