# Create the file config.cfg with these variables in it
home=/absolute/path/to/directory/
bisectdir=/absolute/path/to/SyzInspector/
gccdir=/absolute/path/to/SyzInspector/compilers/
image=/absolute/path/to/image.img
imagekey=/absolute/path/to/image.id_rsa
