# directories
home=/absolute/path/to/directory
inspectdir=/absolute/path/to/SyzInspector
gccdir=/absolute/path/to/SyzInspector/compilers
godir=/absolute/path/to/go1.20.1
imagedir=/absolute/path/to/SyzInspector/image
