# directories
home=/mnt/sda/jtbursey
inspectdir=$home/SyzInspector
gccdir=$inspectdir/compilers

# Resource Allocation for a single instance of Syzkaller
# VM -> the number of VMs to be given to syzkaller
# CPU -> the number of CPU cores to be given to each VM
# procs -> the number of parallel test programs to run in each VM (legal 1-32, recommended 4-8, default 6)

# Default
numVMd=4
numCPUd=4
numProcsd=24

# Race Bug
numVMr=4
numCPUr=4
numProcsr=24

# Single Threaded Bug
numVMst=8
numCPUst=2
numProcsst=16

# memory per VM
mem=4096

# number of processors to build the kernel with
makeproc=16

# where to find go
export GOROOT=$home/go
