# directories
home=/mnt/external_disk_2/jtbursey
inspectdir=$home/SyzInspector
gccdir=$inspectdir/compilers
bunutilsdir=$inspectdir/binutils

# resources to be given to syzkaller
# number of Vms to be run by syz-manager
numVM=4
# number of CPU cores given to each VM
numCPU=4
mem=4096
# number of parallel test procs inside each VM. (legal 1-32, recommended 4-8, default 6)
numProcs=24

# number of processors to build the kernel with
makeproc=16

# where to find go
export GOROOT=/mnt/external_disk_2/jtbursey/go
